<div class="flex justify-end px-5">
  <%== pagy_nav(@pagy) %>
</div>

<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
  <%= render partial: "card", collection: @base_pokemons, as: :base_pokemon %>
</div>
