<div class="navbar bg-base-100 justify-end">
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "Battle Arena" %></li>
      <li><%= link_to "Catch Pokémon" %></li>
      <li><%= link_to "Pokédex", base_pokemons_path, class: ("active" if current_page?(controller: "base_pokemons")) %></li>
    </ul>
  </div>
</div>
